.error
{
	border:2px solid red;
}

ul#playlist
{
	list-style: none;
	font-family: 'Roboto', sans-serif;
}

form 
{
	padding-bottom: 2em;
}

ul#playlist li 
{
	padding-top: 15px;
}

ul#playlist:first-child
{
	padding-top: 0px;
}