body
{
	box-sizing: border-box;
}
.error
{
	border:2px solid red;
}

ul#playlist
{
	list-style: none;
	font-family: 'Roboto', sans-serif;
}

ul#playlist li 
{
	margin:0 0 10px 0;   
	text-align: center;
	width: 800px;
	margin: 0 auto;
	border-radius: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: rgba(75%, 75%, 75%, 0.2);
	margin: 10px 0 0 0;
}

ul#playlist li:first-child
{
	margin-top: 0;
}