body
{
	box-sizing: border-box;
}
.error
{
	border:2px solid red;
}

ul#playlist
{
	margin: 0 auto;
	list-style: none;
	font-family: 'Roboto', sans-serif;
}



ul#playlist li 
{
	text-align: center;
	width: 80vw;
	border-radius: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: rgba(75%, 75%, 75%, 0.2);
	margin: 10px 0 0 0;
}